<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>StudentAdd</servlet-name>
        <servlet-class>StudentAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentEdit</servlet-name>
        <servlet-class>StudentEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdate</servlet-name>
        <servlet-class>StudentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDF</servlet-name>
        <servlet-class>PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSV</servlet-name>
        <servlet-class>CSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentAdd</servlet-name>
        <url-pattern>/StudentAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentEdit</servlet-name>
        <url-pattern>/StudentEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdate</servlet-name>
        <url-pattern>/StudentUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDF</servlet-name>
        <url-pattern>/PDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSV</servlet-name>
        <url-pattern>/CSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
